<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Advertising platform</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/listStyle.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body>


<div th:replace="fragments/header :: header"></div>


<div class="jumbotron">

    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row" th:each="ann : ${announcements}">
            <div class="col-md-10">
                <div class="row p-2 bg-white border rounded">
                    <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://i.imgur.com/QpjAiHq.jpg"></div>
                    <div class="col-md-6 mt-1">
                        <h5 th:text="${ann.getTitle()}"></h5>
                        <div class="d-flex flex-row">
                            <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                        </div>
                        <div class="mt-1 mb-1 spec-1"><span th:text="${ann.getPeriod()}"></span><span class="dot"></span><span th:text="${ann.getBrand()}"></span><span class="dot"></span></div>
                        <p class="text-justify text-truncate para mb-0" th:text="${ann.getDescription()}"><br><br></p>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <p class="mr-1" th:text="${ann.getPrice()}"></p><p>&#36;</p><!--<span class="strike-text">$20.99</span>-->
                        </div>
                        <h6 class="text-success" th:text="${ann.getCountry()}"></h6>
                        <div class="d-flex flex-column mt-4">
                            <a th:href="@{'/announcement/get/' + ${ann.id} + '?type=ADVERTISING'}">Details</a>
<!--                            <button class="btn btn-primary btn-sm" type="button" th:action="@{'/announcement/get/' + ${ann.id}}">Details</button>-->
                            <button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" th:fragment="pagination">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                    <a class="page-link" th:href="@{/announcement/list(type=ADVERTISING, size=${announcements.size}, page=${pageNumber}-1)}"
                                        th:text=${pageNumber}
                                th:class="${pageNumber==pageNumber + 1} ? active">1</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-2"></div>
</div>


<div th:replace="fragments/footer :: footer"></div>


</body>
</html>

