<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Advertising platform</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Advertising platform</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a th:href="index">Home</a></li>
                <li class="active"><a th:href="@{/announcement/list?type=ADVERTISING&size=10}">Advertising</a></li>
                <li><a th:href="@{/announcement/list?type=PLATFORM&size=10}">Platforms</a></li>
                <li><a th:href="@{/about}">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="jumbotron">
    <div class="container">

        <div class="starter-template">
            <H3 align="center">Advertisings</H3>
            <table align="center">
                <thead>
                <tr>
                    <th> Id </th>
                    <th> Brand </th>
                    <th> Title  </th>
                    <th> Description </th>
                    <th> Type </th>
                    <th> Price </th>
                    <th> Period </th>
                    <th> Created date </th>
                    <th> Modified date </th>
                    <th> Details </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ann : ${announcements}">
                    <td><span th:text="${ann.getId()}"> Id </span></td>
                    <td><span th:text="${ann.getBrand()}"> Brand </span></td>
                    <td><span th:text="${ann.getTitle()}"> Title </span></td>
                    <td><span th:text="${ann.getDescription()}"> Description </span></td>
                    <td><span th:text="${ann.getType()}"> Type </span></td>
                    <td><span th:text="${ann.getPrice()}"> Price </span></td>
                    <td><span th:text="${ann.getPeriod()}"> Period </span></td>
                    <td><span th:text="${ann.getCreatedDate()}"> Created date </span></td>
                    <td><span th:text="${ann.getModifiedDate()}"> Modified date </span></td>
                    <td><a th:href="@{/announcement/get/${ann.id}}">Show</a></td>
                </tr>
                </tbody>
            </table>
            <H4><a th:href="@{/announcement/add?type=ADVERTISING}">Add new advertising</a></H4>
        </div>

    </div>
</div>


<div class="container-fluid bg-3 text-center">
    <h3>Some of my Work</h3><br>
    <div class="row">
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
    </div>
</div><br>

<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Some text..</p>
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
    </div>
</div><br><br>

<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>

</body>
</html>

