<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Advertising platform</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body>


<div th:replace="fragments/header :: header"></div>

<div class="jumbotron">
    <div class="container">

        <div class="starter-template">
            <form action="#" th:action="@{/announcement/add?type=PLATFORM}" th:object="${announcement}" method="post">
                <table border="1">
                    <tr>

                        <td><label/>Brand</td>
                        <td><input type="text" th:field="*{brand}" /></td>
                    </tr>
                    <tr>
                        <td><label/>Title</td>
                        <td><input type="text" th:field="*{title}" /></td>
                    </tr>
                    <tr>
                        <td><label/>Description</td>
                        <td><input type="text" th:field="*{description}" /></td>
                    </tr>
                    <tr>
                        <td><label/>Price</td>
                        <td><input type="text" th:field="*{price}" /></td>
                    </tr>
                    <tr>
                        <td><label/>Period</td>
                        <td><input type="text" th:field="*{period}" /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Submit" /></td>
                    </tr>
                </table>
            </form>
        </div>

    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>


</body>
</html>


